.purposeContainer {
    display: flex;
    flex-direction: column;
}

.underline {
    height: 3px;
    width: 60px;
    background-color: #F9AB14;
    margin-top: -6px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.headerContainer {
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: 666px) {
        flex-direction: column;
    }
}

.imageContainer {
    width: 50%;
    padding: 10px 30px;

    @media screen and (max-width: 666px) {
        width: 100%;
        padding: 0px;
    }
}

.image {
    position: relative;
    height: auto;
    max-width: 100%;
}

.descContainer {
    width: 50%;
    padding: 10px 30px;

    @media screen and (max-width: 666px) {
        width: 100%;
        padding: 0px;
    }
}

.imageContent {
    padding: 10px 20px;
}

.descContent {
    padding: 10px 20px;
}
