
.mainNav {
	display: flex;
	list-style: none;
	padding: 0px !important;
}

.navBarContainer {
	z-index: 1;
	transition: 0.5s;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: -50px;
	position: fixed;
	padding: 13px 0px;
	top: 0;
	width: 100%;
}

.mainNav a {
	transition: 0.5s;
	margin: 0px 10px;
	font-size: 15px;
	letter-spacing: 2.5px;
	text-decoration: none;
	font-family: 'Heebo', sans-serif;
	text-transform: uppercase;
	color: white;
}

.mainNav a:hover {
	color: #718daa;
}

.nonActive {
	background-color: rgba(0,0,0,0);
}

.active {
	background-color: white;
	border-bottom: thin solid black;
	a {
		color: black !important;
	}
}
