.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
}

h2, h3, h4 {
    font-family: 'Heebo', sans-serif;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 21px;
}
